/* imagecss */
/*.image-row {
    display: flex;
     justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .image-container {
    position: relative;
    width: 23%;
    overflow: hidden;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  
  .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(89, 168, 224, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .image-text {
    opacity: 1;
  } */
  
 
  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px; 
  }
  
  .image-container {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .image-text {
    margin-top: 10px;
    text-align: center;
    color: #333; /* add color to the text */
    transition: color 0.2s ease-in-out; /* add a color transition effect */
  }
  
  .image-text:hover {
    color: #ff6347; /* change the color when hovering over the text */
  }
  .image-container img {
    transition: transform 0.2s ease-in-out;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  

  @media (max-width: 768px) {
    .image-container {
      flex-basis: calc(50% - 10px);
    }
  }
  

/*aboutcss*/

.about-container {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px auto; 
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    max-width: 95%; 
  }
  
  
  .about-heading {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #0066cc;
  }
  
  .about-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
  }
  
  .read-more {
    display: block;
    text-align: right;
    color: #0066cc;
    font-size: 16px;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 768px) {
    .about-heading {
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    
    .about-text p {
      font-size: 14px;
      line-height: 1.5;
      color: #333;
      margin-bottom: 10px;
    }
  
    .read-more {
      text-align: center;
      margin-top: 10px;
    }
  }
  
  
  /* TableCSS */
  /* Hide all tab content elements by default */
  .tabcontent {
    display: none;
  }
  
  /* Show the active tab content element */
  .tabcontent.active {
    display: block;
  }
  .tab {
    display: flex;
    justify-content: space-between;
  }
  
  .tablinks {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    background-color: #87CEEB  ;
    color: #FFFFFF;
    margin: 0 4%;
  }
  
  .tablinks.active {
    background-color: #2E8B57;
  }
  
  .tablinks.left {
    border-radius: 10px 0 0 10px;
  }
  
  .tablinks.right {
    border-radius: 0 10px 10px 0;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
    margin: 0 4%;
  }
  
  .tabcontent.active {
    display: block;
  }
  
  .table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  .date {
    display: table-cell;
    white-space: nowrap;
  }
  
  /*  background color and white text to the active tab */
  .tablinks.active {
    background-color:#4CAF50;
    color: white;
  }
  
  /* border to the active tab content */
  .tabcontent.active {
    border: 2px solid green 
  }
  
  /* Add equal spacing between tablinks */
  .tablinks {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 0 4% ;
  }
  
  /* Make the table cover the full screen width */
  table {
    width: 100%;
  }
  
  /* Center the table */
  table.ui.celled.selectable.unstackable.table {
    margin: 0 auto;
  }
  
  /* Highlight the open table */
  .tabcontent.active table.ui.celled.selectable.unstackable.table {
    background-color: #f0f0f0;
  }
  @media (max-width: 768px) {
    .tablinks {
      padding: 5px;
      margin: 0;
      font-size: 10px;
    }
    .tabcontent.active {
      margin:  0 10%;
    }
    .table th,
    .table td {
      padding: 10px ;
    }
  }
  
  
  
  /* gallerycss */
  
  .photo-gallery {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 4%;
    margin-top: 2%;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-container img {
    margin: 10px;
    max-width: 250px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out; /* add a transition effect to the transform property */
  }
  
  .gallery-container img:hover {
    transform: scale(1.2); /* zoom in effect on hover */
  }
 
  
 