/* Style for the header section */
.img-fluid.rounded-circle {
  border-radius: 50%;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 18%;
  margin-left: 10%;
  font-size: 3.5rem;

 animation-name: myAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.2;
  }
}



.animated {
  font-size: 46px;
  margin-left: 7%;
  margin-top: 2%;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: colorChange;
  color: #007bff;
}

.animated:hover {
  cursor: pointer;
}

@keyframes colorChange {
  from {
    color: #007bff;
  }
  to {
    color: #dc3545;
  }
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #222;
    color: #fff;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
  }
  
  /* Style for the profile section */
  .profile {
    text-align: center;
    margin-bottom: 22px;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
  }
  
  .profile h1 {
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 0;
  }
  
  .profile h1 a {
    color: #fff;
  }
  
  .social-links {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  
  
  /* Style for the navbar section */
  #navbar {
    margin-top: 23px;
  }
  
  .nav-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .nav-menu li {
    
    position: relative;
    margin: 0 0 10px 0;
  }
  
  .nav-menu a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 18px;
  }
  
  .nav-menu a:hover, .nav-menu .active a {
    color: #007bff;
  }
  
  .nav-menu .drop-down ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #222;
    padding: 0;
    margin: 0;
    border-radius: 0 0 4px 4px;
    min-width: 200px;
    z-index: 99;
  }
  
  .nav-menu .drop-down:hover > ul {
    display: block;
  }
  
  .nav-menu .drop-down li {
    margin-right: 0;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    z-index: 999;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active a {
    background-color: #007bff;
    color: #fff;
  }
  
  @media (max-width: 1366px) {
    #header {
      width: 270px;
    }
  }
  
  @media (max-width: 992px) {
    #header {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #222;
      color: #fff;
      padding: 20px;
      z-index: 9999;
      overflow-y: auto;
      transition: 0.5s;
    }
    
    #header.active {
      left: 0;
    }
    
}